.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }
  
  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    background-color: #f7fafc;
  }
  
  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    background-color: #edf2f7;
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }